a{
    text-decoration: none;
    color: #fff
}
.menu-items a{
    color: #000;
}
.landing-bg{
    background-image: url(../../image/landing-bg.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    min-height:700px;
    position: relative;  
}

